PORT=5005
DATABASE_URL=
JWT_SECRET=
NODE_ENV=development
VITE_API_URL=http://localhost:5005/api
OPENAI_API_KEY=AQ.Ab8RN6KaBu2imkou1W_f0RnfCluLTtwgB6v0RnMjFgNZcaUjPA

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER= Email address dibi
SMTP_PASS= App password dibi
SMTP_FROM= Email address dibi

